<div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
    <div class="menu_section">
        <ul class="nav side-menu">
            <li><a href=""><img src="{{ asset('/imgs/icons/users.svg') }}" height="18"> {{ 'label.Users'|trans }}</a></li>
        </ul>
    </div>
</div>
