{% extends 'base.html.twig' %}
{% block pageTitle %} {{ 'label.home'|trans }} {% endblock %}
{% block body %}
    <div class="clearfix"></div>
    <div class="row">
        HOLA MUNDO!
    </div>
{% endblock %}
